/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  /* Map styles */
  .map {
    border: 1px solid #999;
    margin: 10px 0 0 20px;
    width: 50%; /* Set the map width to 50% of the screen */
    float: left; /* Float the map to the left */
  }
  
  .county {
    stroke: #000;
    stroke-width: 0.5px;
  }
  
  .gratBackground {
    fill: #d7dce7;
  }
  
  .gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 0.5px;
  }
  
  /* Chart styles */
  .chart {
    background-color: rgba(128, 128, 128, 0.2);
    border: medium solid #999;
    margin: 10px 20px 0 0;
    width: 45%; /* Set the chart width to 45% of the screen */
    float: right; /* Float the chart to the right */
  }
  
  .chartTitle {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    word-wrap: break-word; /* Wrap the chart title text if it overlaps */
  }
  
  .chartBackground {
    fill: white;
  }
  
  .numbers {
    fill: white;
    font-family: sans-serif;
    font-size: 0.8em;
    text-anchor: middle;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
  
  .axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #999;
  }


  .dropdown {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1000;
    padding: 5px;
    font-size: 12px;
}


.infolabel {
  position: absolute;
  height: 50px;
  min-width: 100px;
  color: #fff;
  background-color: #000;
  border: solid thin #fff;
  padding: 5px 10px;
  pointer-events: none; /* Ensures that the label does not interfere with map interaction */
  opacity: 0.8;
}

.infolabel h1, .infolabel b {
  display: block; /* Ensures proper line breaks and separation */
  margin: 0;
  padding: 0;
}
