/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  /* Map styles */
  .map {
    border: 1px solid #999;
    margin: 10px 0 0 20px;
    width: 50%; /* Set the map width to 50% of the screen */
    float: left; /* Float the map to the left */
    height: 600px;
  }
  
  .county {
    stroke: #000;
    stroke-width: 0.5px;
  }
  
  .gratBackground {
    fill: #d7dce7;
  }
  
  .gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 0.5px;
  }
  
  /* Chart styles */
  .chart {
    background-color: rgba(128, 128, 128, 0.2);
    border: medium solid #999;
    margin: 10px 20px 0 0;
    width: 45%; /* Set the chart width to 45% of the screen */
    float: right; /* Float the chart to the right */
    height: auto; /* Change height to auto to adjust based on content */
    display: flex; /* Use flexbox for vertical centering */
    align-items: center; /* Center the chart vertically */
  }
  
  .chartTitle {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    word-wrap: break-word; /* Wrap the chart title text if it overlaps */
  }
  
  .chartBackground {
    fill: white;
  }
  
  .numbers {
    fill: white;
    font-family: sans-serif;
    font-size: 0.8em;
    text-anchor: middle;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
  
  .axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #999;
  }


  .dropdown {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 1000;
    padding: 5px;
    font-size: 12px;
}

.info-button {
  position: absolute;
  top: 30px;
  right: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}

.info-popup {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  width: 150px;
  padding: 10px;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.info-popup-content {
  font-size: 14px;
}


.infolabel {
  position: absolute;
  height: auto; /* Auto height based on content */
  min-width: 120px; /* Adjust width as needed */
  max-width: 200px; /* Limit width to prevent excessive width */
  color: #fff;
  background-color: #000;
  border: solid thin #fff;
  padding: 5px 10px;
  pointer-events: none; /* Ensures that the label does not interfere with map interaction */
  opacity: 0.8;
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden; /* Hides any overflowing text */
  text-overflow: ellipsis; /* Adds an ellipsis to overflowing text */
}

.infolabel h1 {
  margin: 0;
  padding: 0;
  font-size: 14px; /* Smaller font size for better fit */
}

.infolabel b {
  margin: 0;
  display: block;
  font-size: 12px; /* Smaller font size for details */
}


/* Media query for screens 800px or smaller */
@media (max-width: 800px) {
  .map, .chart {
      float: none; /* Remove floating */
      margin: 10px auto; /* Center align both */
  }
  .map {
      height: 350px; /* Smaller height for the map */
      width: 100%;
  }
  .chart {
      margin-top: 0; /* Reduce space above chart */
      height: 400px;
      width: 100%;
  }

  .dropdown {
    position: absolute;
    top: 35px;
    left: 25px;
  }

  .info-button {
    position: absolute;
    right: 20px;
  }
}
