/*Add CSS styles here*/

.container {
    border: 1px solid #ccc; /* Adds a border around the SVG container */
}

.innerRect {
    stroke: #000; /* Adds a border around the rectangle */
    stroke-width: 2px; /* Sets the border width */
}


.circles {
    stroke: #333;
    stroke-width: 2px;
}


.county {
    fill: #b2a2d3;
    stroke: #000;
    stroke-width: 0.5;
}


/* graticule */
.gratBackground {
    fill: #e2eafa; /* Color for water */
}

.gratLines {
    fill: none;
    stroke: #999; /* Color for graticule lines */
    stroke-width: 0.5px;
}

.map {
    border: medium solid #999; /* Border for the map frame */
}





